.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background: rgb(240, 242, 245);
  .box-area{
    width: 660px;
    height: 420px;
    background-color: #ffffff;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin: 100px auto 0 auto;
    }
  .form-box{
    width:300px;
    text-align: center;
    margin: 50px auto 0 auto;
  }
}
