.layout-box{
  .left-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: ${collapsed ? 69 : 150}px;
    margin: 0;
    font-size: 12px;
    .logo-title {
      color: #fff;
    }
    img {
      margin-bottom: 20px;
      width: 46px;
      height: 47px;
    }
    img.logo-sm {
      width: 26px;
      height: 26px;
    }
  }
  .layout-header{
    position: relative;
    height: 50px;
    line-height: 48px;
   
  }
:global( .ant-dropdown-menu-item){
    font-size: 12px;
    width: 100px;
  }
  // 头分割
  .header {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    height: 50px;
    .trigger {
      font-size: 14px;
      height: 50px;
      cursor: pointer;
      transition: all 0.3s, padding 0s;
      padding: 20px 20px;
    }
  }
  // 分割
  .quick-actions {
    margin-left: 76px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
    .action {
      cursor: pointer;
      margin-right: 30px;
      i {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 1px;
        width: 24px;
        height: 24px;
        background-color: #00dc94;
        border-radius: 3px;
        text-align: center;
        margin-right: 10px;
        :global(.anticon) {
          color: #fff;
          vertical-align: top;
          margin-top: 5px;
          font-size: 13px;
        }
      }
    }
    .add-business i {
      background-color: #38a4e9;
    }
    .add-client i {
      background-color: #fa9965;
    }
  }
  .user {
    padding-right: 26px;
    color: #666666;
    :global(.avatar) {
      margin-right: 10px;
    }
    :global(.message-icon) {
      display: inline-block;
      margin-right: 20px;
      font-size: 18px;
      vertical-align: middle;
    }
  }
  .custom-header {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: 68px;
  }
 
}